# .gitignore

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Terraform local working directory
.terraform/
.terraform.lock.hcl

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# OS-specific files
.DS_Store